body {
    background-image: url('spider.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
}
header,
footer {
    border-radius: 5px;
    padding: 10px;
    background-color: rebeccapurple;
    color: whitesmoke;
    text-align: center;

}
aside {
    border-right: 1px solid rebeccapurple;
    grid-row: 2;
    grid-column: 1;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}
.tags li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
}
footer {
    grid-column: 1/5;
    grid-row: 3;
}
header {
    grid-column: 1/5;
    grid-row: 1;
    font-size: xx-large;
}
main {
    grid-column: 2;
    grid-row: 2;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "box1 box2" "box3 box3";
    gap: 1rem;
    padding: 1rem;
}
.adjusted-image {
    width: 200px;
    height: 200px;
    border-radius: 55%;
    object-fit: cover;
}
.content-box {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    border-color: rgb(90, 20, 156);
    border-width: 5px;
    text-align: center;
}
.box1 { 
    grid-area: box1;
    animation-name: myboo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: transform 0.3s ease-in-out;
}
.box2 { 
    grid-area: box2; 
    filter: drop-shadow(16px 16px 10px black);
}
.box3 { 
    grid-area: box3; 
    animation-name: myspider;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes myboo {
    from {
        filter:blur(5px)
    }
    to {
        transition-timing-function: ease-in-out;

    }
}
.box1:hover {
    transform: scale(1.2);
}
.box2:hover {
    transform: rotate(20deg);
}
@keyframes myspider {
    from {
        transform: translateY(0);

    }
    to {
        transform: translateY(100px);
    }
}
.box3:hover {
    animation: myspider 2s infinite alternate ease-in-out;
}
nav {
            background-color: rgb(59, 55, 63);
            padding: 10px;
        }
        nav a {
            color: white;
            margin-right: 15px;
            text-decoration: none;
            font-weight: 600;
        }
        nav a:hover {
            text-decoration: underline;
        }